/* SECTIONS */

body {
    background-color: gainsboro;
    font-family: Montserrat;
    width: fit-content;
}

.mainTitle {
  background-color: ghostwhite;
}

header {
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0.6rem;
    width: 100vw;
}

.category {
    background-color: white;
    margin: 0.3rem;
    padding: 0.4rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 97%;
}

.chapter {
    background-color: white;
    margin-top: 1rem;
    padding: 0rem 0.6rem;
}

hr {
  background-color: #dcdcdc4f;
  border: 0rem;
  height: 0.2rem;
}

/* TITLES */

h1 {
    text-align: center;
}

.category h4 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    text-align: center;
}

.category li {
    font-size: 0.9rem;
    line-height: 2.3rem;
    list-style-type: none;
}

.category li:before {
    content: '\27AD';
    font-size: 1.3rem;
    margin-left: -20px;
    position: absolute;
}

/* LINKS */
header a {
    color: black;
    text-decoration: none;
}

a.backToTop {
  background-color: #eaf7ff;
  color: #848484;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
}

/* IMG */

.chapter img {
    max-width: 100%;
}
